@font-face{font-family:'Literata';font-style:italic;font-weight:400 600;font-display:swap;src:url('Literata-italic-0.woff2') format('woff2');}
@font-face{font-family:'Literata';font-style:normal;font-weight:400 600;font-display:swap;src:url('Literata-normal-1.woff2') format('woff2');}
@font-face{font-family:'JetBrains Mono';font-style:normal;font-weight:500;font-display:swap;src:url('JetBrainsMono-normal-0.woff2') format('woff2');}
